.db, .db_ > * {
  display: block;
}

.dib, .dib_ > * {
  display: inline-block;
}

.cursor {
  cursor: pointer;
}

.a {
  color: #111111;
  position: relative;
  &:hover {
    color: rgb(238, 119, 0);
  }
  &:after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }
}

.wp {
  &-auto {
    width: 96%;
    margin: auto;
  }
}
